debug: true
server:
  port: 3000

logging:
  level:
    root: ERROR
    org.springframework.web: ERROR
    com.example.demo: TRACE

# The following is standard Spring Security OAuth2 configuration.
# Note OOTB there's a good amount of config here
# If desired, it would be possible to provide some auto-config SDK/starter lib that could reduce this.
spring:
  security:
    oauth2:
      client:
        registration:
          auth0:
            client-id: {YOUR-CLIENT-ID}
            client-secret: {YOUR-CLIENT-SECRET}
            scope:
              - openid
              - profile
              - email
        provider:
          auth0:
            # trailing slash is important!
            issuer-uri: https://{YOUR-DOMAIN}/
