debug: true
server:
  port: 3000

auth0:
  audience: {API_IDENTIFIER}

# The following is standard Spring Security OAuth2 configuration.
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          # Note the trailing slash is important!
          issuer-uri: https://{DOMAIN}/
