debug: true
server:
  port: 3001

auth0:
  audience: {YOUR-API-ADIENCE}

# The following is standard Spring Security OAuth2 configuration.
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://{YOUR-DOMAIN}/